.App {
  text-align: center;
}
.app__form {
  padding: 20px;
  position: fix;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 20px;
}
.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}
.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}
